<div class="container-flex">

    <nav class="navbar navbar-preview fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Form example</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="dropdown" dropdown >
            <a dropdownToggle class="nav-link" href="#" role="button">
                Dropdown</a>
            <div *dropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
  </div> <!-- fim do container flex-->
