div.bgpagina {
  height:40em;
  background-size:cover;
  width:auto;
  background-image:url(http://www.wallpapereast.com/static/images/Cool-Wallpaper-Landscape-HD.jpg);
  background-position:50% 50%;
}
