<div class="container-flex formulario">
  <div class="col">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="col">
      <label>
        First Name<br>
        <input class="form-control" type="text" formControlName="firstName" request>
      </label>
      <br>
      <label>
        Last Name<br>
        <input class="form-control" type="text" formControlName="lastName" request>
      </label>
      <br>
      <label>
        Birthdate<br>
        <input class="form-control" type="date" formControlName="birthdate" request>
      </label>
      <br>
      <label>
        Email<br>
        <input class="form-control" type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" request>
      </label>
      <br>
      <label>Gender
        <div class="row">
          <div class="col-2"></div>
          <div class="col-md-auto">
            <input class="form-check-input" type="radio" value="checkedValue" formControlName="gender" required>Female
          </div>
          <div class="col-md-auto">
            <input class="form-check-input" type="radio" formControlName="gender" required>Male
          </div>
        </div>
      </label>
      <br>
      <br>
      <button class="btn btn-dark" type="submit" [disabled]="!profileForm.valid">Send Request</button>
    </div>
  </form>

  </div>
</div>
